.background-image {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;

  background:
          linear-gradient(
                          rgba(69, 63, 132, 0.75),
                          rgba(58, 45, 70, 0.75)
          ),
          url("../images/background.jpg"),
          no-repeat;
  background-position-x: center;
}

.background-image-form {
  @extend .background-image;
  background-position-y: center;
}

.background-ad {
  z-index: -1;
  width: 100%;
  height: 100%;

  background: url("../images/ads/home_ad.jpg");
  background-position-x: center;
}

