@import "variables";
@import "../bootstrap/variables";
@import "../bootstrap/mixins/breakpoints";

.profile-update-notification {
  text-align: center;
  margin: 0 auto;
  max-width: 300px;

  div {
    background-color: $primary;

    a {
      color: $ghost-white !important;
      text-decoration: none;
    }
  }
}