@import "../bootstrap/variables";
@import "../bootstrap/mixins/breakpoints";
@import "variables";

.banner {
  color: $ghost-white;
  background: $horizontal-gradient-background;
  padding: 1rem;

  h1 {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
  }
}

.series-details-banner {
  padding: 10px;
  margin-top: 20px;
  background: linear-gradient(0.25turn, #3a2d46, #453f84, #3a2d46);
  text-align: center;
  color: $ghost-white;
  box-shadow: $shadow;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    .team {
      font-weight: bold;
      font-size: 1.4rem;
    }

    .time {
      font-size: 1.6em;
      font-weight: bold;
    }
  }
}

.banner-notification {
  padding: 2px 0;
  text-align: center;
  font-size: 0.8rem;
  color: $ghost-white;
}

.banner-ad {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  @include media-breakpoint-down(md) {
    display: none;
  }
}
