@import "../bootstrap/mixins/breakpoints";
@import "variables";

.blocks-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  grid-column-gap: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: $cyan-blue;

  @include media-breakpoint-down(sm) {
    grid-column-gap: 20px;
  }

  .block {
    border: 4px solid $cyan-blue;
    padding: 40px 20px;

    @include media-breakpoint-down(sm) {
      border: 2px solid $cyan-blue;
      padding: 20px 10px;
    }

    .title {
      font-size: 2rem;
      font-weight: bold;

      @include media-breakpoint-down(xs) {
        font-size: 1.2rem;
      }
    }

    .value {
      font-size: 1.6rem;

      @include media-breakpoint-down(xs) {
        font-size: 1rem;
      }
    }
  }
}
