@import "../bootstrap/mixins/breakpoints";
@import "../bootstrap/variables";
@import "variables";

.btn-rad {
  color: $white;
  padding: 5px 20px;
  background-color: $radical-red;
  border-radius: 24px;
  &:hover {
    color: white;
    background-color: $radical-red-hover;
  }

  @include media-breakpoint-down(sm) {
    padding: 10px;
    font-size: 1.6rem;
    width: 80%;
  }
}

.btn-calculate {

}