@import "../bootstrap/mixins/breakpoints";
@import "../bootstrap/variables";
@import "variables";

.form-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 70vh;
}

.basic-form {
  padding: 20px 40px;
  margin: 60px auto;
  max-width: 400px;

  background-color: $white;
  border-radius: 3px;

  @include media-breakpoint-down(sm) {
    padding: 20px;
    max-width: 300px;
  }

  h1 {
    font-size: 2rem;
  }
}