@import "../bootstrap/mixins/breakpoints";
@import "../bootstrap/variables";
@import "variables";

.series-list {
  .wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    box-sizing: border-box;

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }

    .left {
      h2 {
        font-size: 1.2rem;
        text-align: left;
        margin-right: 20px;

        @include media-breakpoint-down(sm) {
          text-align: center;
        }
      }

      @include media-breakpoint-down(sm) {
        text-align: center;
      }

      .tournament {
        display: inline-block;
        color: $gray-800;
        background: $gray-200;
        padding: 5px;
        margin-top: 3px;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }

    .right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      margin-left: 20px;

      @include media-breakpoint-down(sm) {
        margin: 10px 0;
      }

      .team {
        display: grid;
        grid-template-rows: 1fr 1fr;
        text-align: center;
        background: $gray-200;

        .team-name {
        }

        .team-prediction {
          font-weight: bold;
        }
      }
    }
  }
}

.list-container {
  margin-top: 20px;

  .series-list-header {
    margin-bottom: 20px;
    box-shadow: $shadow;

    .series-list-filters {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      box-sizing: border-box;
      text-align: center;

      @include media-breakpoint-down(xs) {
        grid-template-columns: repeat(3, 1fr);
      }

      .filter {
        color: inherit;
        background: $white;
        padding: 10px 2px;

        &:hover {
          color: $white;
          background-color: $cyan-blue;
          text-decoration: none;
        }
      }

      .filter-active {
        color: $white;
        background: $cyan-blue;
        padding: 10px 2px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.narrow {
  max-width: 100px;
  text-align: center;
}

.mobile-hidden {
  @include media-breakpoint-down(xs) {
    display: none;
  }
}
