@import "../bootstrap/variables";
@import "variables";

.pagination-betterbets {
  @extend .pagination;

  .page-item {
    .page-link {
      color: $cyan-blue;
    }
  }

  .page-item.active {
    .page-link {
      background-color: $cyan-blue;
      border-color: $cyan-blue;
      color: $white;
    }
  }
}
