.profile {
  margin-top: 40px;
  margin-bottom: 40px;

  .heading {
    text-align: center;

    h1 {
      font-size: 1.6rem;
      padding: 10px;
    }
  }

  .title {
    font-weight: bold;
  }

  .profile-wrapper {
    margin: 0 auto;
    max-width: 400px;
  }
}