@import "../bootstrap/mixins/_breakpoints";
@import "../bootstrap/variables";
@import "variables";

.card-basic {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

.showcase {
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  .series-upcoming {
    max-width: 800px;

    h1 {
      color: $ghost-white;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .view-more {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.promotion {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;

  .promotion-item {
    background-color: $gray-100;
    text-align: center;
    margin: 10px;
    box-shadow: $shadow;
    padding: 20px;
  }

  .btn-promotion {
    color: $radical-red;
    &:hover {
      color: $radical-red-hover;
    }
  }
}

.calculator {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;

  .calculator-wrapper {
    h1 {
      font-size: 1.6rem;
      padding: 20px;
    }

    h2 {
      font-size: 1.4rem;
      color: $gray-800;
    }

    h3 {
      font-size: 1.2rem;
      color: $gray-600;
    }

    input {
      text-align: center;
      max-width: 200px;
    }

    .series-item {
      font-size: 1.2rem;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .input-centered{
      margin: 0 auto;
      float: none;
    }

    .suggestion {
      font-size: 1.2rem;
      padding: 0;
      margin: 0;
    }

    .no-prediction {
      font-size: 0.9rem;
      color: $gray-500;
      font-style: italic;
    }
  }
}

.head-to-head {
  margin-top: 80px;
  margin-bottom: 40px;

  .head-to-head-banner {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    background: linear-gradient(0.25turn, #3a2d46, #453f84, #3a2d46);
    text-align: center;
    font-size: 1.8rem;
    color: $ghost-white;
    box-shadow: $shadow;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    box-sizing: border-box;
    text-align: center;

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0;
    }

    .grid-box {
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 3px;
      position: relative;

      @include media-breakpoint-down(sm) {
        margin: 10px 0;
      }

      h1 {
        font-size: 1.2rem;
      }
    }
  }
}
