@import "../bootstrap/variables";

$radical-red: #FF3366;
$radical-red-hover: #FF668C;
$cyan-blue: #2892D7;
$ghost-white: ghostwhite;

$vertical-gradient-background: linear-gradient(#453f84, #3a2d46);
$horizontal-gradient-background: linear-gradient(0.25turn, #453f84, #3a2d46);

$shadow: 0 5px 5px $gray-500;
