{% autoescape off %}
Hi {{ profile.user.first_name }},

<p>
  I'm just messaging you to let you know that your account has been removed from our systems as you
  have not verified your email.
</p>
<p>
  Don't worry though! All you have to do is sign up again if you want to use our services.
</p>

<p>
  If you have any queries or issues with the service please, feel free to drop by our Discord channel or send an email
  to our <a href="mailto:support@sportsflare.io">support</a> team.
</p>

{% endautoescape %}
