{% autoescape off %}
Hi there!

<p>Thank you for signing up to Sportsflare!</p>

<p>Please click on the following link to verify your email address and complete your registration.</p>

<a href="https://{{ domain }}{% url 'confirm_email' uidb64=uid token=token %}">Verify My Email!</a>

<p><strong>Note:</strong> This link will expire in 3 days</p>

<p>
  If you have any queries or issues with the service please, feel free to drop by our Discord channel or send an email
  to our <a href="mailto:support@sportsflare.io">support</a> team.
</p>

{% endautoescape %}
