{% autoescape off %}
Hi {{ first_name }},

<p>Thank you for signing up for the {{ plan_name }} plan</p>

<p>Please click on the following link to verify your email address and complete your registration.</p>

<p>
  Upon verifying your email address, you will be charged ${{ plan_amount }} and your subscription will commence. You will be billed on the same
  day of each month starting from when you verify your account.
</p>

<p>
  If you have any queries or issues with the service please, feel free to drop by our Discord channel or send an email
  to our <a href="mailto:support@sportsflare.io">support</a> team.
</p>

<a href="https://{{ domain }}{% url 'confirm_email' uidb64=uid token=token %}">Verify My Email!</a>
{% endautoescape %}
