{% autoescape off %}
Hi {{ profile.user.first_name }},

<p>I'm just messaging you to let you know that your account verification link will expire tomorrow.</p>
<p>
  Failure to verify your email means your account will be deleted from out system. Don't worry though!
  All you have to do is sign up again if you want to use our services.
</p>

{% if token %}
  <p>If you wish to verify your email address, please click the following link</p>

  <a href="https://{{ domain }}{% url 'confirm_email' uidb64=uid token=token %}">Verify My Email!</a>

  <p><strong>Note:</strong> This link will expire tomorrow</p>
{% endif %}

<p>
  If you have any queries or issues with the service please, feel free to drop by our Discord channel or send an email
  to our <a href="mailto:support@sportsflare.io">support</a> team.
</p>

{% endautoescape %}
