{% extends 'base.html' %}

{% block title %}
  Sportsflare Home
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col card-basic">
        <h1>{% if title %}{{ title }}{% else %}Bad Request{% endif %}</h1>
        <p>
          {% if message %}
            {{ message }}
          {% else %}
            There was an error in your request!
          {% endif %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}}
