{% extends 'base.html' %}

{% block title %}
  Sportsflare Home
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col card-basic">
        <h1>Permission Denied</h1>
        <p>
          Oh no! Your subscription does not allow you to view this page.
        </p>
      </div>
    </div>
  </div>
{% endblock %}}
