{% extends 'base.html' %}

{% block title %}
  Sportsflare Home
{% endblock %}

{% block content %}
  <legend>Permission Denied</legend>
  <div>
    Oh no! Your subscription does not allow you to view this page. Click <a href="{% url 'account' %}">here</a> to update your subscription.
  </div>
{% endblock %}}
