{% extends 'base.html' %}

{% block title %}
  Sportsflare Home
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col card-basic">
        <h1>Page Not Found</h1>
        <p>
          The page you were looking for does not exist!
        </p>
      </div>
    </div>
  </div>
{% endblock %}}
