{% extends 'base.html' %}

{% block title %}
  Sportsflare Home
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col card-basic">
        <h1>Error</h1>
        <p>
          Oops! Something went wrong on our end
        </p>
      </div>
    </div>
  </div>
{% endblock %}}
