{% extends 'base.html' %}

{% block title %}
  Sportsflare Beta
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col card-basic">
        <h1>Beta Mode</h1>
        <p>
          Our service is currently in <em>beta</em> mode. This means that we are continuously rolling out software and
          infrastructure upgrades to provide you with an intuitive, reliable and user friendly service.
        </p>
        <p>
          As part of these improvements we are constantly training and improving our AI model and adding new features to
          help you make better bets!
        </p>
      </div>
    </div>
  </div>
{% endblock %}
