{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Sportsflare Home
{% endblock %}

{% block content %}
  <section class="showcase">
    <div class="background-image"></div>
    <div class="container">
      <div class="series-upcoming">
        <h1>Up Next</h1>
        <ul class="list-group series-list">
          {% if series_list %}
            {% for series in series_list %}
              <a href="{% url 'csgo_series_details' pk=series.pk %}" class="list-group-item list-group-item-action">
                <div class="wrapper">
                  <div class="left">
                    <h2>
                      {% if series.csgoseriesteam_set.all.0.team.name %}
                        {{ series.csgoseriesteam_set.all.0.team.name }}
                      {% else %}
                        TBA
                      {% endif %}
                      VS
                      {% if series.csgoseriesteam_set.all.1.team.name %}
                        {{ series.csgoseriesteam_set.all.1.team.name }}
                      {% else %}
                        TBA
                      {% endif %}
                    </h2>
                    <div>
                      {% if series.risk_level %}
                        <span class="badge {{ series.risk_level.class }}">{{ series.risk_level.display }} Risk</span>
                      {% endif %}
                    </div>
                    <div>
                      {{ series.start_time|date:"H:m" }} ({{ series.start_time.tzname }})
                    </div>
                  </div>
                  <div class="right">
                    {% for team in series.csgoseriesteam_set.all %}
                      <div class="team">
                        <div class="team-name">
                          {{ team.team.name }}
                        </div>
                        <div class="team-prediction">
                          {% if team.probability_percentage %}
                            {{ team.probability_percentage }}%
                          {% else %}
                            -
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="wrapper">
                  <div class="left">
                    {% if series.tournament %}
                      <div class="tournament">
                        {{ series.tournament.name }}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </a>
            {% endfor %}
            <div class="view-more">
              <a href="{% url 'csgo_series_list' %}" class="btn btn-rad">View More</a>
            </div>
          {% else %}
            No series are available!
          {% endif %}
        </ul>
      </div>
    </div>
  </section>

  <section class="container promotion">
    <div class="row">
      <div class="col promotion-item">
        <h1>Community</h1>
        <p>
          We are all part of a bigger family of betters, trying to bet as smart as we can. In order to facilitate this we
          have created and maintained a Discord channel of other keen minds. Feel free to stop by here:
        </p>
        <a target="_blank" href="https://discord.gg/6wFWWY6" class="btn btn-promotion">Sportsflare Discord</a>
      </div>

      <div class="col promotion-item">
        <a target="_blank" href="https://22bet.com/landing/welcome_page_esport/?tag=d_121679m_16557c_">
          <img class="main-ad" src="{%  static "main/images/ads/home_ad.jpg" %}"/>
        </a>
      </div>
    </div>
  </section>
{% endblock %}}
