{% extends 'csgo/csgo_base.html' %}
{% load staticfiles %}
{% load paginate %}

{% block content %}
  <section class="list-container">
    <div class="container">
      <div class="banner-ad">
        <a target="_blank" href="https://22bet.com/landing/welcome_page_esport/?tag=d_121679m_16557c_">
          <img src="{%  static "main/images/ads/banner_list_view_ad.jpg" %}"/>
        </a>
      </div>

      <div class="series-list-header">
        <div class="banner">
          <h1>Counter Strike: Upcoming</h1>
        </div>
        <div class="series-list-filters">
          <a
            href="{% url 'csgo_series_list' %}"
            class="filter{% if not filter_active %}-active{% endif %}"
          >
            Up Next
          </a>
          {% for date_filter in date_filters %}
            <a
              href="{% url 'csgo_series_list' %}?date={{ date_filter.value }}"
              class="filter{% if date_filter.is_active %}-active{% endif %}"
            >
              {{ date_filter.display_name }}
              {{ date_filter.active }}
            </a>
          {% endfor %}
        </div>
      </div>

      <ul class="list-group series-list">
        {% if object_list %}
          {% for series in object_list %}
            <a href="{% url 'csgo_series_details' pk=series.pk %}" class="list-group-item list-group-item-action">
              <div class="wrapper">
                <div class="left">
                  <h2>
                    {% if series.csgoseriesteam_set.all.0.team.name %}
                      {{ series.csgoseriesteam_set.all.0.team.name }}
                    {% else %}
                      TBA
                    {% endif %}
                    VS
                    {% if series.csgoseriesteam_set.all.1.team.name %}
                      {{ series.csgoseriesteam_set.all.1.team.name }}
                    {% else %}
                      TBA
                    {% endif %}
                  </h2>
                  <div>
                    {% if series.risk_level %}
                      <span class="badge {{ series.risk_level.class }}">{{ series.risk_level.display }} Risk</span>
                    {% endif %}
                  </div>
                  <div>
                    {{ series.start_time|date:"j M H:m" }} ({{ series.start_time.tzname }})
                  </div>
                </div>
                <div class="right">
                  {% for team in series.csgoseriesteam_set.all %}
                    <div class="team">
                      <div class="team-name">
                        {{ team.team.name }}
                      </div>
                      <div class="team-prediction">
                        {% if team.probability_percentage %}
                          {{ team.probability_percentage }}%
                        {% else %}
                          -
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="wrapper">
                <div class="left">
                  {% if series.tournament %}
                    <div class="tournament">
                      {{ series.tournament.name }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </a>
          {% endfor %}
        {% else %}
          No series are available!
        {% endif %}
      </ul>
      {% block pagination %}
        <hr>
        {% paginate %}
      {% endblock %}
    </div>
  </section>
{% endblock %}
