{% extends 'csgo/csgo_base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="container">
    <div class="series-details-banner">
      <div class="grid">
        <div class="col team">
          {% if object.ordered_seriesteams.all.0 %}
            {{ object.ordered_seriesteams.all.0.team.name }}
          {% else %}
            TBA
          {% endif %}
        </div>
        <div class="col">
          <div class="row">
            <div class="col time">
              {{ object.start_time|date:"H:m" }}
            </div>
          </div>
          <div class="row">
            <div class="col date">
              {{ object.start_time|date:"j F Y" }}
            </div>
          </div>
        </div>
        <div class="col team">
          {% if object.ordered_seriesteams.all.1 %}
            {{ object.ordered_seriesteams.all.1.team.name }}
          {% else %}
            TBA
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col tournament">
          {{ object.tournament.name }}
        </div>
      </div>
    </div>

    <section class="calculator">
      <div class="list-group calculator-wrapper">
        <div class="list-group-item">
          <h1>
            Suggested Bet Calculator
          </h1>
          <table class="table-probability">
            <tbody>
            <tr>
              <td style="width: {{ object.ordered_seriesteams.all.0.probability_percentage }}; background-color: blue;"></td>
              <td style="width: {{ object.ordered_seriesteams.all.1.probability_percentage }}; background-color: red;"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="list-group-item series-item">
          <div class="row">
            <div class="col">
              <div id="series_team_1_probability" class="probability">
                {% if object.ordered_seriesteams.all.0.probability_percentage %}
                  {{ object.ordered_seriesteams.all.0.probability_percentage }} %
                {% else %}
                  <div class="no-prediction">
                    No prediction
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="col">
              <h2>Series</h2>
            </div>
            <div class="col">
              <div id="series_team_2_probability" class="probability">
                {% if object.ordered_seriesteams.all.1.probability_percentage %}
                  {{ object.ordered_seriesteams.all.1.probability_percentage }} %
                {% else %}
                  <div class="no-prediction">
                    No prediction
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col"></div>
            <div class="col">
              {% if object.risk_level %}
                <span class="badge {{ object.risk_level.class }}">{{ object.risk_level.display }} Risk</span>
              {% endif %}
            </div>
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group input-centered">
                <input
                  id="series_team_1_odds"
                  class="form-control input-centered"
                  title="series_team_1_odds"
                  type="number"
                  placeholder="Odds"
                />
              </div>
            </div>
            <div class="col">
              <button onclick="suggest_bets('series');" class="btn btn-secondary">Calculate</button>
            </div>
            <div class="col">
              <div class="form-group">
                <input
                  id="series_team_2_odds"
                  class="form-control input-centered"
                  title="team_2_odds"
                  type="number"
                  placeholder="Odds"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div id="series_team_1_suggestion" class="col suggestion">-</div>
            <div class="col">Suggested Bet</div>
            <div id="series_team_2_suggestion" class="col suggestion">-</div>
          </div>
        </div>
        {% for game in object.games.all %}
          <div class="list-group-item game-item">
            <div class="row">
              <div class="col">
                <div id="game_{{ forloop.counter }}_team_1_probability">
                  {% if game.ordered_gameteams.all.0.probability_percentage %}
                    {{ game.ordered_gameteams.all.0.probability_percentage }}%
                  {% else %}
                    <div class="no-prediction">
                      No prediction
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-sm-4">
                  </div>
                  <div class="col-sm-4">
                    <h3>Game {{ game.display_order }}</h3>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="game_{{ forloop.counter }}_team_2_probability">
                  {% if game.ordered_gameteams.all.1.probability_percentage %}
                    {{ game.ordered_gameteams.all.1.probability_percentage }}%
                  {% else %}
                    <div class="no-prediction">
                      No prediction
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="row pb-2">
              <div class="col"></div>
              <div class="col">
                {% if game.risk_level %}
                  <span class="badge {{ game.risk_level.class }}">{{ game.risk_level.display }} Risk</span>
                {% endif %}
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input
                    id="game_{{ forloop.counter }}_team_1_odds"
                    class="form-control input-centered"
                    title="game_{{ forloop.counter }}_team_1_odds"
                    type="number"
                    placeholder="Odds"
                  />
                </div>
              </div>
              <div class="col">
                <button onclick="suggest_bets('game_{{ forloop.counter }}');" class="btn btn-secondary">Calculate</button>
              </div>
              <div class="col">
                <div class="form-group">
                  <input
                    id="game_{{ forloop.counter }}_team_2_odds"
                    class="form-control input-centered"
                    title="game_{{ forloop.counter }}_team_2_odds"
                    type="number"
                    placeholder="Odds"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div id="game_{{ forloop.counter }}_team_1_suggestion" class="col suggestion">-</div>
              <div class="col">Suggested Bet</div>
              <div id="game_{{ forloop.counter }}_team_2_suggestion" class="col suggestion">-</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>

    <section class="head-to-head">
      <h1 class="head-to-head-banner">
        Head to Head
      </h1>
      <div class="grid">
        <div class="grid-box">
          <h1>
            {% if object.ordered_seriesteams.all.0 %}
              {{ object.ordered_seriesteams.all.0.team.name }}
            {% else %}
              TBA
            {% endif %}
          </h1>
          <div class="players">
            {% for player in t1_roster %}
              <span class="badge badge-primary"> {{player}}</span>
            {% endfor %}
          </div>
          <div>
            <div id="t1bar"></div>
          </div>
        </div>
        <div class="grid-box">
          <h1>
            {% if object.ordered_seriesteams.all.1 %}
              {{ object.ordered_seriesteams.all.1.team.name }}
            {% else %}
              TBA
            {% endif %}
          </h1>
          <div class="players">
            {% for player in t2_roster %}
                <span class="badge badge-danger"> {{player}}</span>
            {% endfor %}
          </div>
          <div>
            <div id="t2bar"></div>
          </div>
        </div>
      </div>
    </section>
  </div>

  {% block extra_external_js %}
    <script src="{% static "main/js/d3/d3.min.js" %}" ></script>
  {% endblock %}

  {% block extra_js %}
    <script src="{% static "main/js/betterbets/calculator.js" %}" ></script>
  {% endblock %}

  <script>
    // Create the map winrate dataset
    let t1data = JSON.parse("{{t1_map_winrates | escapejs}}");
    let t2data = JSON.parse("{{t2_map_winrates | escapejs}}");

    // function to create the bar charts:
    function make_bar_chart(tag_id, data){

        // set the dimensions and margins of the graph
        let margin = {top: 10, right: 10, bottom: 30, left: 65},
            width = 270 - margin.left - margin.right,
            height = 250 - margin.top - margin.bottom;

        // set the ranges
        let y = d3.scaleBand()
                  .range([height, 0])
                  .padding(0.1);

        let x = d3.scaleLinear().range([0, width]);

        // append the svg object to the body of the page
        // append a 'group' element to 'svg'
        // moves the 'group' element to the top left margin
        let svg = d3.select(tag_id).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");

          // format the data
          data.forEach(function(d) {
            d.winrate = +d.winrate;
          });

          // Scale the range of the data in the domains
          x.domain([0, 100]);
          y.domain(data.map(function(d) { return d.map; }));

          // append the rectangles for the bar chart
          svg.selectAll(".bar")
              .data(data)
            .enter().append("rect")
              .attr("class", "bar").style("fill",function(d){ if (d.winrate < 0){return "#f9f9f9";} else{return "#f44147";};} )
              //.attr("x", function(d) { return x(d.sales); })
              .attr("width", function(d) {return x(100); } )
              .attr("y", function(d) { return y(d.map); })
              .attr("height", y.bandwidth());

            svg.selectAll(".rect")
              .data(data)
            .enter().append("rect").style("fill", function(d){ if (d.winrate < 0){return "#f9f9f9";} else{return "#5cb85c";};})
              //.attr("x", function(d) { return x(d.sales); })
              .attr("width", function(d) {return x(d.winrate);} )
              .attr("y", function(d) { return y(d.map); })
              .attr("height", y.bandwidth());

          // add the x Axis
          svg.append("g")
              .attr("transform", "translate(0," + height + ")")
              .call(d3.axisBottom(x));

          // add the y Axis
          svg.append("g")
              .call(d3.axisLeft(y));
    }

    // Team 1 winrate plot:
    make_bar_chart("#t1bar", t1data);
    // Team 2 winrate plot:
    make_bar_chart("#t2bar", t2data);
  </script>

  <script>
    let tau = 2 * Math.PI;

    // Get probabilities & normalize
    let eps = .001;
    let t1_win_rate = {{h2h_winrate_t1}} + eps;
    let t2_win_rate = {{h2h_winrate_t2}} + eps;
    let denom = t1_win_rate + t2_win_rate;
    let t1prob = t1_win_rate / denom;
    let t2prob = t2_win_rate / denom;

    let svg = d3.select("#donut"),
        width = + 500,
        height = + 250,
        g = svg.append("g").attr("transform", "translate(" + width / 3.7 + "," + height / 2 + ")");

    g.append("text").text("{{object.teams.all.0.name |slice:":8" | upper}} : " + Math.round({{h2h_winrate_t1}} * 100) + "%").attr("transform", "translate(-50,-15)");
    g.append("text").text("{{object.teams.all.1.name |slice:":8" | upper}} : " + Math.round({{h2h_winrate_t2}} * 100) + "%").attr("transform", "translate(-50,20)");

    let arc = d3.arc()
        .innerRadius(width / 5.5)
        .outerRadius(width / 4)
        .startAngle(0);
    // Team 1 (Blue fill)
    let background = g.append("path")
        .datum({endAngle: tau})
        .style("fill", "#428bca")
        .attr("d", arc);

    // Team 2 (Red fill)
    let foreground = g.append("path")
        .datum({endAngle: t2prob * tau})
        .style("fill", "#f44147")
        .attr("d", arc);
  </script>

{% endblock %}
