{% extends 'csgo/csgo_base.html' %}
{% load paginate %}

{% block content %}
  <section class="list-container">
    <div class="container">
      <div class="series-list-header">
        <div class="banner">
          <h1>Counter Strike: Results</h1>
        </div>
        <div class="series-list-filters">
          <a
            href="{% url 'csgo_model_performance' %}"
            class="filter{% if not filter_active %}-active{% endif %}"
          >
            2w
          </a>
          {% for date_filter in date_filters %}
            <a
              href="{% url 'csgo_model_performance' %}?date={{ date_filter.value }}"
              class="filter{% if date_filter.is_active %}-active{% endif %}"
            >
              {{ date_filter.display_name }}
              {{ date_filter.active }}
            </a>
          {% endfor %}
        </div>
      </div>

      <div class="blocks-wrapper">
        <div class="block">
          <div class="row">
            <div class="col title">
              Series:
            </div>
          </div>
          <div class="row">
            <div class="col value">
              {{ num_series }}
            </div>
          </div>
        </div>
        <div class="block">
          <div class="row">
            <div class="col title">
              Correct:
            </div>
          </div>
          <div class="row">
            <div class="col value">
              {{ num_correct_series }}
            </div>
          </div>
        </div>
        <div class="block">
          <div class="row">
            <div class="col title">
              Percent:
            </div>
          </div>
          <div class="row">
            <div class="col value">
              {{ correct_percent }}%
            </div>
          </div>
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col" style="font-weight: bold">
              Match
            </div>
            <div class="col mobile-hidden" style="font-weight: bold">
              Predicted Winner
            </div>
            <div class="col mobile-hidden" style="font-weight: bold">
              Probability
            </div>
            <div class="col narrow" style="font-weight: bold">
              Result
            </div>
          </div>
        </li>
        {% for series in object_list %}
          {% if series.model_winner %}
            <div class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col">
                  {% if series.teams.all.0 %}
                    {{ series.teams.all.0 }}
                  {% else %}
                    TBA
                  {% endif %}
                  VS
                  {% if series.teams.all.1 %}
                    {{ series.teams.all.1 }}
                  {% else %}
                    TBA
                  {% endif %}
                </div>
                <div class="col mobile-hidden">
                  {{ series.model_winner.name }}
                </div>
                <div class="col mobile-hidden">
                  {{ series.model_winner.percentage }}%
                </div>
                <div class="col narrow">
                  {% if series.model_winner.name == series.winner.name %}
                    <i class="fas fa-check" style="color: green"></i>
                  {% else %}
                    <i class="fas fa-times" style="color: red"></i>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </ul>
      {% block pagination %}
        <hr>
        {% paginate %}
      {% endblock %}
    </div>
  </section>
{% endblock %}}
