<nav>
  <ul class="pagination-betterbets justify-content-center">
    {% comment %} Previous {% endcomment %}
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      <a class="page-link" href="?{% if page_obj.has_previous %}page={{ page_obj.previous_page_number }}{% endif %}{{ filters }}">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

    {% comment %} Individual page numbers {% endcomment %}
    {% for page_no in pages %}
      <li class="page-item {% if page_obj.number == page_no %}active{% endif %}">
        {% if page_no == '...' %}
          <a class="page-link">...</a>
        {% else %}
          <a class="page-link" href="?page={{ page_no }}{{ filters }}">{{ page_no }}</a>
        {% endif %}
      </li>
    {% endfor %}

    {% comment %} Next {% endcomment %}
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      <a class="page-link" href="?{% if page_obj.has_next %}page={{ page_obj.next_page_number }}{% endif %}{{ filters }}">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
