{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
  Sportsflare Login
{% endblock %}

{% block content %}
  <section class="form-wrapper">
    <div class="background-image-form"></div>
    <div class="basic-form">
      <h1>Log In</h1>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          {% bootstrap_field field show_label=False %}
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block btn-form" type="submit">Log In</button>
      </form>
      <div class="row">
        <div class="col">
          <a href="{% url "password_reset" %}">Forgot your password?</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="{% url "signup" %}">Sign up</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
