{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block title %}
  Sportsflare Signup
{% endblock %}

{% block content %}
  <div class="form-wrapper">
    <div class="background-image-form"></div>
    <div class="basic-form">
      <h1>Sign Up</h1>
      <form method="post">
        {% csrf_token %}
          {% bootstrap_field form.email show_label=False %}
          {# Manually manage form field due to limitations of django-bootstrap4  #}
          {# the addon_after attribute does not use the correct "input-group-append" class #}
          <div class="form-group{% if form.password.errors %} is-invalid{% endif %}">
            <label class="sr-only" for="id_password">Password</label>
            <div class="input-group mb-3">
              <input type="password" name="password" class="form-control {% if form.password.errors %} is-invalid{% endif %}" placeholder="Password" maxlength="32" required="" id="id_password">
              <div class="input-group-append">
                <span class="input-group-text" id="show-password"><i id="eye" class="fas fa-eye"></i></span>
              </div>
              {% if form.password.errors %}
                {% for error in form.password.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        <button class="btn btn-lg btn-primary btn-block btn-form" type="submit">Sign Up</button>
      </form>
      <a href="{% url "login" %}">Have an account? Log In</a>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static "main/js/betterbets/signup.js" %}"></script>
{% endblock %}
