{% extends 'base.html' %}

{% block title %}
  Verify Email
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col card-basic">
        <h1>Verify Your Email</h1>
        <p>
          A verification email has been sent to you!
        </p>
      </div>
    </div>
  </div>
{% endblock %}
