{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
  Sportsflare Forgotten Password
{% endblock %}

{% block content %}
  <div class="form-wrapper">
    <div class="background-image-form"></div>
    <div class="basic-form">
      <h1>Reset Password</h1>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          {% bootstrap_field field show_label=False %}
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block btn-form" type="submit">Send Instructions</button>
      </form>
    </div>
  </div>
{% endblock %}
