{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <section class="form-wrapper">
    {% if validlink %}
      <div class="basic-form">
        <h1>Reset Your Password</h1>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            {% bootstrap_field field show_label=False %}
          {% endfor %}
          <button class="btn btn-lg btn-primary btn-block btn-form" type="submit">Log In</button>
        </form>
      </div>
    {% else %}
      <p class="card-basic">
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
    {% endif %}
  </section>
{% endblock %}
