{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col card-basic">
        <h1>Password Reset Complete</h1>
        <p>
          Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
