{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col card-basic">
        <h1>Email Sent</h1>
        <p>
          If an account exists with the email you entered, instructions for resetting your password will be sent.
          You should receive them shortly.
        </p>
        <hr>
        <p>
          If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
