{% autoescape off %}
<p>
  To initiate the password reset process for "{{ user.get_username }}",
  click the link below:
</p>

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>

<p>
  If clicking the link above doesn't work, please copy and paste the URL in a new browser
  window instead.
</p>
{% endautoescape %}
