{% extends 'base.html' %}

{% block title %}
  Sportsflare Account
{% endblock %}

{% block content %}
  <div class="panel panel-default">

    <div class="panel-heading clearfix">
      <div class="panel-title pull-left" style="padding-top: 4px;">Account Settings</div>
      <div class="pull-right">
        <a class="btn btn-sm btn-info" href="{% url 'update_card' %}">Update Credit Card</a>
        <a class="btn btn-sm btn-info" href="{% url 'update_subscription' %}">Change Plan</a>
      </div>
    </div>

    <div class="panel-body">
      <div class="panel-group">
        {% for message in messages %}
          <div
            {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}
          >
            <strong>{{ message.tags.title }}:</strong> {{ message }}
          </div>
        {% endfor %}
      </div>

      <div class="list-group">
        {% if card %}
          <a class="list-group-item"><strong>Card:</strong> **** **** **** {{ card.last4 }}</a>
          <a class="list-group-item"><strong>Plan:</strong> {{ plan_name }}</a>
          <a class="list-group-item"><strong>Amount:</strong> ${% if plan_amount is None %}0.00{% else %}{{ plan_amount }}{% endif %}</a>
          <a class="list-group-item"><strong>Status:</strong> {{ subscription_status }}</a>
        {% else %}
          {# Handle stripe not being available #}
          <a class="list-group-item"><strong>Card:</strong> N/A</a>
          <a class="list-group-item"><strong>Plan:</strong> N/A</a>
          <a class="list-group-item"><strong>Amount:</strong> N/A</a>
          <a class="list-group-item"><strong>Status:</strong> N/A</a>
        {% endif %}
      </div>

    </div>

  </div>

{% endblock %}
