{% extends 'base.html' %}
{%  load staticfiles %}

{% block title %}
  Sportsflare Unsubscribe
{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post">
    <fieldset>

      {% csrf_token %}
      <legend>Unsubscribe
        ({% if subscription is None %}No Active Subscription{% else %}{{ current_plan_name }}{% endif %})
      </legend>

      <div class="form-group">
        <div class="text-center">
          <button type="submit" onclick="return confirm('Are you sure you want to unsubscribe?')" class="btn btn-md btn-danger">
            Cancel Subscription
          </button>
        </div>
      </div>

    </fieldset>
  </form>

{% endblock %}
