{% extends 'base.html' %}

{% block title %}
  Sportsflare Account
{% endblock %}

{% block content %}
  <div class="panel panel-default">

    <div class="panel-heading" style="padding-top: 14px; padding-bottom: 14px">
      <div class="panel-title">Payments</div>
    </div>

    <div class="panel-body">
      <div class="panel-group">
        {% for message in messages %}
          <div
              {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}
          >
            <strong>{{ message.tags.title }}!</strong> {{ message }}
          </div>
        {% endfor %}
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Paid</th>
{#          <th>Invoice</th>#}

          {% if invoices %}
            {% for invoice in invoices %}
              <tr>
                <td>{{ invoice.date }}</td>
                <td>{{ invoice.lines.data.0.plan.name }}</td>
                <td>${{ invoice.amount_due }}</td>
                <td>{%  if invoice.paid %}<span class="glyphicon glyphicon-ok-circle"></span>{% else %}<span class="glyphicon glyphicon-remove-circle"></span>{% endif %}</td>
  {#              <td><a href="">Download</a></td>#}
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
{#              <td></td>#}
            </tr>
          {% endif %}

        </table>
      </div>

    </div>

  </div>


{% endblock %}
