{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block title %}
  Sportsflare Edit Profile
{% endblock %}

{% block content %}
  <div class="container">
    <div class="profile">
      <div class="list-group profile-wrapper">
        <a class="list-group-item">
          <div class="row">
            <div class="col heading">
              <h1>Edit Profile</h1>
            </div>
          </div>
        </a>
        <form method="post">
          {% csrf_token %}
          <a class="list-group-item">
            {% bootstrap_field form.first_name layout="horizontal" label_class="col col-form-label title" field_class="col" %}
          </a>
          <a class="list-group-item">
            {% bootstrap_field form.last_name layout="horizontal" label_class="col col-form-label title" field_class="col" %}
          </a>
          <a class="list-group-item">
            {% bootstrap_field form.date_of_birth layout="horizontal" label_class="col col-form-label title" field_class="col" %}
          </a>
          <button class="btn btn-lg btn-primary btn-block btn-form" type="submit">Update</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}}
