{% extends 'base.html' %}

{% block title %}
  Sportsflare Profile
{% endblock %}

{% block content %}
  <div class="container">
    <div class="profile">
      <div class="list-group profile-wrapper">
        <a class="list-group-item">
          <div class="row">
            <div class="col heading">
              <h1>Profile</h1>
            </div>
          </div>
        </a>
        <a class="list-group-item">
          <div class="row">
            <div class="col title">Name:</div>
            <div class="col">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}-{% endif %}</div>
          </div>
        </a>
        <a class="list-group-item">
          <div class="row">
            <div class="col title">Email:</div>
            <div class="col">{% if user.email %}{{ user.email }}{% else %}-{% endif %}</div>
          </div>
        </a>
        <a class="list-group-item">
          <div class="row">
            <div class="col title">Member Since:</div>
            <div class="col">{% if user.date_joined %}{{ user.date_joined|date:"j F Y" }}{% else %}-{% endif %}</div>
          </div>
        </a>
        <a class="list-group-item">
          <div class="row">
            <div class="col title">Date of Birth:</div>
            <div class="col">{% if user.profile.date_of_birth %}{{ user.profile.date_of_birth }}{% else %}-{% endif %}</div>
          </div>
        </a>
        <div>
          <a class="btn btn-lg btn-primary btn-block btn-form" href="{% url "profile_update" %}">Edit</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}}
