{% extends 'base.html' %}
{%  load staticfiles %}

{% block title %}
  Sportsflare Signup
{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post">
    <fieldset>

      {% csrf_token %}
        <legend>Update Plan
          ({% if subscription is None %}No Active Subscription{% else %}{{ current_plan_name }}{% endif %})
        </legend>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">New Membership Plan:</label>
          <div class="col-md-4">
            {{ form.plan }}
            {% for error in form.plan.errors %}
              <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
          </div>
        </div>

        <div class="form-group">
          <div class="text-right col-md-8">
            {% if subscription is None %}
              <button type="submit" class="btn btn-md btn-success">Subscribe</button>
            {% else %}
              <button type="submit" class="btn btn-md btn-primary">Update</button>
            {% endif %}
{#            <a href="{% url 'account' %}" class="btn btn-md btn-default">Cancel</a>#}
          </div>
        </div>

    </fieldset>
  </form>

{% endblock %}
