{% extends 'base.html' %}
{%  load staticfiles %}

{% block title %}
  Sportsflare Signup
{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post" id="payment-form">
    <fieldset>

      {% csrf_token %}
        <legend>Update Credit Card</legend>

        <div class="form-group">
          <div class="form-row">
            <label class="col-md-4 control-label" for="card-element">
              Credit or Debit Card:
            </label>
            <div class="col-md-4">
              <div id="card-element">
                <!-- a Stripe Element will be inserted here. -->
              </div>
            </div>

            <!-- Used to display Element errors -->
            <div class="col-md-4" id="card-errors" role="alert"></div>
          </div>
        </div>

        <div class="form-group">
          <div class="text-right col-md-8">
            <button type="submit" class="btn btn-md btn-primary">Update</button>
{#            <a href="{% url 'account' %}" class="btn btn-md btn-default">Cancel</a>#}
          </div>
        </div>

    </fieldset>
  </form>

  {% include "stripe_js.html" %}

{% endblock %}
