<head>
  <style type="text/css">
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
{% autoescape off %}
<h1>Csgo Series Updated</h1>
<strong>Started:</strong> {{ start }}<br>
<strong>Finished:</strong> {{ end }}<br>
<strong>Time Elapsed:</strong> {{ elapsed_time }}<br />
<hr>

  {% if created %}
    <h2>{{ no_created }}</h2>
      <table style="border: 1px solid black;border-collapse: collapse;">
        <tr>
          <th style="border: 1px solid black;border-collapse: collapse;">Teams</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Start Time</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Length</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Winner</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Tournament</th>
          <th style="border: 1px solid black;border-collapse: collapse;">HLTV URL</th>
        </tr>
        {% for series_details in created %}
          <tr>
            <td style="border: 1px solid black;border-collapse: collapse;">{{ series_details.series.teams.all|join:' vs ' }}</td>
            <td style="border: 1px solid black;border-collapse: collapse;">{{ series_details.series.start_time }}</td>
            <td style="border: 1px solid black;border-collapse: collapse;">BO{{ series_details.series.length }}</td>
            <td style="border: 1px solid black;border-collapse: collapse;">{{ series_details.series.winner }}</td>
            <td style="border: 1px solid black;border-collapse: collapse;">{{ series_details.series.tournament }}</td>
            <td style="border: 1px solid black;border-collapse: collapse;"><a href="https://www.hltv.org{{ series_details.series.hltv_url_path }}">Series Page</a></td>
          </tr>
          <tr>
            <td style="border: 1px solid black;border-collapse: collapse;"></td>
            <th style="border: 1px solid black;border-collapse: collapse;">Game  Number</th>
            <th style="border: 1px solid black;border-collapse: collapse;">Winner</th>
            <th style="border: 1px solid black;border-collapse: collapse;">Map</th>
            <th style="border: 1px solid black;border-collapse: collapse;">Players</th>
            <td style="border: 1px solid black;border-collapse: collapse;"></td>
          </tr>
          {% for game in series_details.games %}
            <tr>
              <td style="border: 1px solid black;border-collapse: collapse;"></td>
              <td style="border: 1px solid black;border-collapse: collapse;">Game {{ game.order|add:'1' }}</td>
              <td style="border: 1px solid black;border-collapse: collapse;">{{ game.winner }}</td>
              <td style="border: 1px solid black;border-collapse: collapse;">{{ game.map }}</td>
              <td style="border: 1px solid black;border-collapse: collapse;">{{ game.players.all|join:', ' }}</td>
              <td style="border: 1px solid black;border-collapse: collapse;"></td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
  {% else %}
    <h2>No Series Created</h2>
  {% endif %}

  {% if updated %}
    <h2>{{ no_updated }}</h2>
    {% for series in updated %}
      {% for name, changes in series.items %}
        <h3>{{ name }}</h3>
        <h4>Series:</h4>
        <table>
          <tr>
            <th>Field</th>
            <th>Old</th>
            <th>New</th>
          </tr>
          {% for field, change in changes.items %}
            {% if field != 'games' %}
              <tr>
                <td>{{ field }}</td>
                {% if field == 'teams' %}
                  <td>{{ change.old|join:', ' }}</td>
                  <td>{{ change.new|join:', ' }}</td>
                {% else %}
                  <td>{{ change.old }}</td>
                  <td>{{ change.new }}</td>
                {% endif %}
              </tr>
            {% endif %}
          {% endfor %}
        </table>
        <h4>Games Created:</h4>
        {% if changes.games %}
          <table>
            {% for created_game in changes.games %}
            {% endfor %}
          </table>
          {{ changes.games }}
        {% endif %}
      {% endfor %}
      <hr />
    {% endfor %}
  {% else %}
    <h2>No Series Updated</h2>
  {% endif %}

  {% if new_teams %}
    <h2>{{ no_new_teams }}</h2>
    {% for team in new_teams %}
      - {{ team }}<br />
    {% endfor %}
  {% endif %}

{% endautoescape %}
