<head>
  <style type="text/css">
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
{% autoescape off %}
  <h1>Csgo Players Updated</h1>
  <strong>Started:</strong> {{ start }}<br>
  <strong>Finished:</strong> {{ end }}<br>
  <strong>Time Elapsed:</strong> {{ elapsed_time }}<br />
  <hr>

  {% if created %}
    <h2>{{ no_created }}</h2>
    <table style="border: 1px solid black;border-collapse: collapse;">
      <tr>
        <th style="border: 1px solid black;border-collapse: collapse;">First Name</th>
        <th style="border: 1px solid black;border-collapse: collapse;">Last Name</th>
        <th style="border: 1px solid black;border-collapse: collapse;">Alias</th>
        <th style="border: 1px solid black;border-collapse: collapse;">Country</th>
        <th style="border: 1px solid black;border-collapse: collapse;">HLTV URL</th>
      </tr>
      {% for player in created %}
        <tr>
          <td style="border: 1px solid black;border-collapse: collapse;">{{ player.first_name }}</td>
          <td style="border: 1px solid black;border-collapse: collapse;">{{ player.last_name }}</td>
          <td style="border: 1px solid black;border-collapse: collapse;">{{ player.alias }}</td>
          <td style="border: 1px solid black;border-collapse: collapse;">{{ player.country }}</td>
          <td style="border: 1px solid black;border-collapse: collapse;"><a href="https://www.hltv.org{{ tournament.hltv_url_path }}">Player Page</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h2>No players created</h2>
  {% endif %}

  {% if updated %}
    <h2>{{ no_updated }}</h2>
    <table style="border: 1px solid black;border-collapse: collapse;">
      <tr>
        <th style="border: 1px solid black;border-collapse: collapse;">Name</th>
        <th style="border: 1px solid black;border-collapse: collapse;">Field</th>
        <th style="border: 1px solid black;border-collapse: collapse;">Old</th>
        <th style="border: 1px solid black;border-collapse: collapse;">New</th>
      </tr>
      {% for player in updated %}
        {% for name, changes in player.items %}
          <tr>
            <td style="border: 1px solid black;border-collapse: collapse;">{{ name }}</td>
            <td style="border: 1px solid black;border-collapse: collapse;"></td>
            <td style="border: 1px solid black;border-collapse: collapse;"></td>
            <td style="border: 1px solid black;border-collapse: collapse;"></td>
          </tr>
          {% for field, change in changes.items %}
            <tr>
              <td style="border: 1px solid black;border-collapse: collapse;"></td>
              <td style="border: 1px solid black;border-collapse: collapse;">{{ field }}</td>
              {% if change.new is not None and field == 'hltv_url_path' %}
                <td style="border: 1px solid black;border-collapse: collapse;">{{ change.old }}</td>
                <td style="border: 1px solid black;border-collapse: collapse;"><a href="https://www.hltv.org{{ change.new }}"></a>Player Page</td>
                <td style="border: 1px solid black;border-collapse: collapse;">{{ change.new }}</td>
              {% else %}
                <td style="border: 1px solid black;border-collapse: collapse;">{{ change.old }}</td>
                <td style="border: 1px solid black;border-collapse: collapse;">{{ change.new }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </table>
  {% else %}
    <h2>No players updated</h2>
  {% endif %}

{% endautoescape %}
