<head>
  <style type="text/css">
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
{% autoescape off %}

  <h1>Csgo Teams Updated</h1>
  <strong>Started:</strong> {{ start }}<br>
  <strong>Finished:</strong> {{ end }}<br>
  <strong>Time Elapsed:</strong> {{ elapsed_time }}<br>
  <hr>

  {% if created %}
    <h2>{{ no_created }}</h2>
    <table style="border: 1px solid black;border-collapse: collapse;">
      <tr>
        <th style="border: 1px solid black;border-collapse: collapse;">Name</th>
        <th style="border: 1px solid black;border-collapse: collapse;">HLTV URL</th>
      </tr>
      {% for team in created %}
        <tr>
          <td style="border: 1px solid black;border-collapse: collapse;">{{ team.name }}</td>
          <td style="border: 1px solid black;border-collapse: collapse;"><a href="https://www.hltv.org{{ team.hltv_url_path }}">Team Page</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h2>No teams created</h2>
  {% endif %}

  {% if updated %}
    <h2>{{ no_updated }}</h2>
    <table style="border: 1px solid black;border-collapse: collapse;">
      <tr>
        <th style="border: 1px solid black;border-collapse: collapse;">Name</th>
        <th style="border: 1px solid black;border-collapse: collapse;">Field</th>
        <th style="border: 1px solid black;border-collapse: collapse;">Old</th>
        <th style="border: 1px solid black;border-collapse: collapse;">New</th>
      </tr>
      {% for team in updated %}
        {% for name, changes in team.items %}
          <tr>
            <td style="border: 1px solid black;border-collapse: collapse;">{{ name }}</td>
            <td style="border: 1px solid black;border-collapse: collapse;"></td>
            <td style="border: 1px solid black;border-collapse: collapse;"></td>
            <td style="border: 1px solid black;border-collapse: collapse;"></td>
          </tr>
          {% for field, change in changes.items %}
            <tr>
              <td style="border: 1px solid black;border-collapse: collapse;"></td>
              <td style="border: 1px solid black;border-collapse: collapse;">{{ field }}</td>
              <td style="border: 1px solid black;border-collapse: collapse;">{{ change.old }}</td>
              <td style="border: 1px solid black;border-collapse: collapse;">{{ change.new }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </table>
  {% else %}
    <h2>No teams updated</h2>
  {% endif %}

{% endautoescape %}
