<head>
  <style type="text/css">
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
{% autoescape off %}
<h1>Csgo Tournaments Updated</h1>
<strong>Started:</strong> {{ start }}<br>
<strong>Finished:</strong> {{ end }}<br>
<strong>Time Elapsed:</strong> {{ elapsed_time }}<br />
<strong>Invalid:</strong> {{ invalid }}
<hr>

  {% if created %}
    <h2>{{ no_created }}</h2>
      <table style="border: 1px solid black;border-collapse: collapse;">
        <tr>
          <th style="border: 1px solid black;border-collapse: collapse;">Name</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Start Date</th>
          <th style="border: 1px solid black;border-collapse: collapse;">End Date</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Prize Money</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Event Type</th> <!-- Lan or Online -->
          <th style="border: 1px solid black;border-collapse: collapse;">Teams</th>
          <th style="border: 1px solid black;border-collapse: collapse;">HLTV URL</th>
        </tr>
        {% for tournament in created %}
          <tr>
            <td style="border: 1px solid black;border-collapse: collapse;">{{ tournament.name }}</td>
            <td style="border: 1px solid black;border-collapse: collapse;">{{ tournament.start_date }}</td>
            <td style="border: 1px solid black;border-collapse: collapse;">{{ tournament.end_date }}</td>
            <td style="border: 1px solid black;border-collapse: collapse;">{% if tournament.prize_money %}{{ tournament.prize_money }} ({{ tournament.prize_money_currency }}){% else %}-{% endif %}</td>
            <td style="border: 1px solid black;border-collapse: collapse;">{% if tournament.offline %}Lan{% else %}Online{% endif %}</td> <!-- Offline (Lan) or Online -->
            <td style="border: 1px solid black;border-collapse: collapse;">{{ tournament.teams.all }}</td>
            <td style="border: 1px solid black;border-collapse: collapse;"><a href="https://www.hltv.org{{ tournament.hltv_url_path }}">Tournament Page</a></td>
          </tr>
        {% endfor %}
      </table>
  {% else %}
    <h2>No tournaments created</h2>
  {% endif %}

  {% if updated %}
    <h2>{{ no_updated }}</h2>
      <table style="border: 1px solid black;border-collapse: collapse;">
        <tr>
          <th style="border: 1px solid black;border-collapse: collapse;">Name</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Field</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Old</th>
          <th style="border: 1px solid black;border-collapse: collapse;">New</th>
        </tr>
      {% for tournament in updated %}
        {% for name, changes in tournament.items %}
          <tr>
            <td style="border: 1px solid black;border-collapse: collapse;">{{ name }}</td>
            <td style="border: 1px solid black;border-collapse: collapse;"></td>
            <td style="border: 1px solid black;border-collapse: collapse;"></td>
            <td style="border: 1px solid black;border-collapse: collapse;"></td>
          </tr>
          {% for field, change in changes.items %}
            <tr>
              <td style="border: 1px solid black;border-collapse: collapse;"></td>
              <td style="border: 1px solid black;border-collapse: collapse;">{{ field }}</td>
              {% if field == 'teams' %} <!-- Teams need special joining -->
                <td style="border: 1px solid black;border-collapse: collapse;">{{ change.old|join:', ' }}</td>
                <td style="border: 1px solid black;border-collapse: collapse;">{{ change.new|join:', ' }}</td>
              {% else %}
                <td style="border: 1px solid black;border-collapse: collapse;">{{ change.old }}</td>
                <td style="border: 1px solid black;border-collapse: collapse;">{{ change.new }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
      </table>
  {% else %}
    <h2>No tournaments updated</h2>
  {% endif %}

  {% if new_teams %}
    <h2>New Teams Added</h2>
    {% for team in new_teams %}
      - {{ team }}<br />
    {% endfor %}
  {% endif %}

{% endautoescape %}
